
@import url("./Components/style_header.css");
@font-face {              /** Ajouter police depuis dossier **/
    font-family: qwigley;
    src: url('./Assets/Fonts/Qwigley-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/Assets/Fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('Assets/Fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('Assets/Fonts/Quicksand-Medium.ttf');
}


body {
    font-family: Quicksand-SemiBold;
    background-color: #F3F3F3;
    margin: 0px;
    padding: 0px;
}

section, body, html{
    width: 100%;
    height: 100%;
}

.first_section{
    background: url("./Assets/images/background_blurred.jpg") no-repeat center center ;
    background-size: cover;
}

.wrapper{
    
    width: 100%;
    height: 91%;
}


h1 {
    font-size: 19;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1:hover {
    color:  red;
}



