
@import url("./Components/style_header.css");
@import url("./Components/style_footer.css");
@font-face {              /** Ajouter police depuis dossier **/
    font-family: qwigley;
    src: url('./Assets/Fonts/Qwigley-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/Assets/Fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('Assets/Fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('Assets/Fonts/Quicksand-Medium.ttf');
}

section, body, html{
    width: 100%;
    height: 100%;
}

body {
    font-family: Quicksand-SemiBold;
    margin: 0px;
    padding: 0px;
}

.border{
    border: 4px solid #2254B5;
    border-radius: 25px;
    padding: 30px;
    background-color: #ebebeb;
    border-width: medium;
    box-shadow: 10px 10px 5px grey;
}

.titre{
    padding-top: 1%;
    color: #111010;
    font-size: xx-large;
}

.content_text{
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 7%;
}

.titre2{
    padding-top: 4%;
    padding-left: 2.5%;
}

.bouton_quiz{
    padding-left: 18%;
    padding-top: 1% ;
}

.button{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    padding: 15px 40px;
    margin: 10px 10px;
    background-color: #ebebeb;
    color: #000000;
    border: 2px solid #2254B5;
    
    
    
}

.button:hover{
    transform: scale(1.07);
    background-color: #4D88FC;
    color: #f3f3f3;
}





  

