@font-face {              /** Ajouter police depuis dossier **/
    font-family: qwigley;
    src: url('./Assets/Fonts/Qwigley-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/Assets/Fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('Assets/Fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('Assets/Fonts/Quicksand-Medium.ttf');
}


@media screen and (max-height: 680px) {
    .content{
        padding: 20px 5% 15px;
        display:table;
        width: 30%;
        background:#cecece ;
        box-shadow: 0 0 80px rgba(0, 0, 0, 255);
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.75em;
        font-size: 15.5px;
        border-radius: 8px;
        opacity: 0.86;
    }

    .content_inscription{
        padding: 20px 5% 15px;
        display:table;
        width: 37%;
        background:#cecece ;
        box-shadow: 0 0 80px rgba(0, 0, 0, 255);
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.75em;
        font-size: 15.5px;
        border-radius: 8px;
        opacity: 0.86;
    }
    
    h1.aircare{
        font-size: 130px;
        font-family: qwigley;
        text-align: center;
        color: white;
        box-shadow: 0 0 0px rgba(0, 0, 0, 255);
    }

    h1.aircare2{
        font-size: 80px;
        font-family: qwigley;
        text-align: center;
        color: white;
        box-shadow: 0 0 0px rgba(0, 0, 0, 255);
    }

    .connexion {
        font-size: 20px;
        font-family: Quicksand-SemiBold;
        text-align: center;
    }
    
    .inscription {
        font-size: 14px;
        font-family: Quicksand-SemiBold;
        text-align: center;
    }

    input[type=text], select {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
        font-size: 12px;
    }

    input[type=email], select {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
        font-size: 12px;
    }
    
    input[type=password], select {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
        font-size: 12px;
    }
      
    input[type=submit] {
        width: 100%;
        background-color: #2254B5;
        color: white;
        padding: 10px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        opacity: 1;
        margin-top: 2.5%;
        margin-bottom: 0%;
        font-family: Quicksand-SemiBold;
        font-size: 12px;
    }

    input[type=checkbox] {
        width: 10.5px;
        height: 10.5px;
        margin-left: -0.02%;
        margin-top: 0.1%;
        margin-bottom: 3%;
    }

    .inscription_label{
        font-family: Quicksand-SemiBold;
        font-size: 11px ;
      }
    
    .remember_user {
        font-size: 13px;
    }

    .cgu {
        font-size: 12px;
    }

    .help{
        color: #6A6A6A;
        text-decoration: none;
        font-size: 13px;
        font-family: Quicksand-SemiBold;
        margin-top: 0.4%;
    }

    .cgu_link{
        color: #6A6A6A;
        text-decoration: none;
        font-size: 12px;
        font-family: Quicksand-SemiBold;
    }

    .no_account{
        font-family: Quicksand-SemiBold;
        font-size: 12px;
        text-align: center;
    }
    
    .inscription_link{
        font-family: Quicksand-SemiBold;
        font-size: 12px;
        color: #6A6A6A;
        text-decoration: none;
    }
    .error_msg{
        font-family: Quicksand-SemiBold;
        color: red;
        font-size: 12px;
    }
}
  
  
@media screen and (min-height: 681px) { 
    .content{
        padding: 20px 5% 15px;
        display:table;
        width: 30%;
        background:#cecece ;
        box-shadow: 0 0 80px rgba(0, 0, 0, 255);
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.75em;
        font-size:19.5px;
        border-radius: 8px;
        opacity: 0.86;
    }

    .content_inscription{
        padding: 20px 5% 15px;
        display:table;
        width: 37%;
        background:#cecece ;
        box-shadow: 0 0 80px rgba(0, 0, 0, 255);
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.75em;
        font-size:19.5px;
        border-radius: 8px;
        opacity: 0.86;
    }

    
    h1.aircare{
        font-size: 150px;
        font-family: qwigley;
        text-align: center;
        color: white;
        box-shadow: 0 0 0px rgba(0, 0, 0, 255);
    }

    h1.aircare2{
        font-size: 100px;
        font-family: qwigley;
        text-align: center;
        color: white;
        box-shadow: 0 0 0px rgba(0, 0, 0, 255);
    }

    .connexion {
        font-size: 30px;
        font-family: Quicksand-SemiBold;
        text-align: center;
    }
    
    .inscription {
        font-size: 24px;
        font-family: Quicksand-SemiBold;
        text-align: center;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
    }

    input[type=email], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
    }
    
    input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 14px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Quicksand-SemiBold;
    }
      
    input[type=submit] {
        width: 100%;
        background-color: #2254B5;
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        opacity: 1;
        margin-top: 2.5%;
        margin-bottom: 0%;
        font-family: Quicksand-SemiBold;
        font-size: medium;
    }
      
    input[type=checkbox] {
        width: 12.5px;
        height: 12.5px;
        margin-left: -0.02%;
        margin-top: 1.5%;
        margin-bottom: 3%;
    }

    .inscription_label{
        font-family: Quicksand-SemiBold;
        font-size: 16px ;
      }
    
    .remember_user {
        font-size: 18px;
    }

    .cgu {
        font-size: 15px;
    }

    .help{
        color: #6A6A6A;
        text-decoration: none;
        font-size: 18px;
        font-family: Quicksand-SemiBold;
        margin-top: 0.4%;
    }

    .cgu_link{
        color: #6A6A6A;
        text-decoration: none;
        font-size: 15px;
        font-family: Quicksand-SemiBold;
    }

    .no_account{
        font-family: Quicksand-SemiBold;
        font-size: medium;
        text-align: center;
    }
    
    .inscription_link{
        font-family: Quicksand-SemiBold;
        font-size: medium;
        color: #6A6A6A;
        text-decoration: none;
    }

    .error_msg{
        font-family: Quicksand-SemiBold;
        color: red;
        font-size: medium;
    }
}


body{
    font-family: Quicksand-Medium
}

body, html, main, h1{
    margin: 0px;
    padding: 0px;
}

main, body, html{
    width: 100%;
    height: 100%;
}

main{
    background: url("./Assets/images/background_blurred.jpg") no-repeat center center ;
    background-size: cover;
}


.wrapper{
    display: table;
    width: 100%;
    height: 100%;
}
  
input[type=submit]:hover {
    background-color: #1697F4;
}

input[type=checkbox]:checked {
    background-color: #2254B5;
}

form{
    margin-top: 6%;
}

label{
    font-family: Quicksand-SemiBold;
}

.help:hover{
    color: #808080;
}

.cgu_link:hover{
    color: #808080;
}  
  
.remember_help{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
}

.inscription_link:hover{
    color: #808080;
}

.name{
    display: flex;
    justify-content: space-between;
}







  
