
@import url("./Components/style_header.css");
@import url("./Components/style_footer.css");
@font-face {              /** Ajouter police depuis dossier **/
    font-family: qwigley;
    src: url('./Assets/Fonts/Qwigley-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/Assets/Fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('Assets/Fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('Assets/Fonts/Quicksand-Medium.ttf');
}

section, body, html{
    width: 100%;
    height: 100%;
}

body {
    font-family: Quicksand-SemiBold;
    background-color: #F3F3F3;
    margin: 0px;
    padding: 0px;
}
.titre{
    padding-top: 7%;
    color: #111010;
    font-size: xx-large;
}

.content_text{
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 5%;
}

.bouton_quiz{
    padding-left: 18%;

}

.button{
    padding: 14px 40px;
    margin: 5px 2px;
    background-color: #2254B5;
    color: white
}

.button:hover {background-color: #2254B5}

.button:active {
    background-color: #4D88FC;
    box-shadow: 0 5px rgb(202, 196, 196);
    transform: translateY(4px);
}





  

