.sidebar {
    width: 25%;
    position: fixed;
    height: 100%;
    background: #213C70;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 100;
}

.sidebar-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 1rem 0;
}

.sidebar-brand img {
    height: 90px;
}

.sidebar-menu {
    margin-bottom: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
    list-style: none;
}

.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: 1s;
}

.sidebar-menu a:hover {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a.active {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-change {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sidebar-change img {
    height: 50px;
    width: 50px;
}

.sidebar-change li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-change a {
    text-decoration: none;
    color: white;
}

.main-content {
    margin-left: 25%;
    transition: margin-left 300ms;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 75%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: width 300ms;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked+.sidebar {
    width: 10%;
}

#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar .sidebar-menu {
    padding-left: 1rem;
}

#nav-toggle:checked+.sidebar .sidebar-change {
    display: flex;
    height: 20%;
    flex-direction: column;
    text-align: center;
}

#nav-toggle:checked~.main-content {
    margin-left: 10%;
}

#nav-toggle:checked~.main-content header {
    width: 90%;
}

#nav-toggle:checked+header {
    width: 100%;
}

header h1 label i {
    font-size: 1.7rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: center;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.search-wrapper i {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.2rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper h4 {
    margin-bottom: 0rem !important;
}

.user-wrapper small {
    display: inline-block;
    color: grey;
}

body {
    background: #fff;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background-color: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    transition: 2s;
}

.card-single:hover .card-single h1 {
    font-size: 24px;
}

.card-single i {
    font-size: 40px;
    opacity: .5;
}

.card-single:hover i {
    opacity: 1;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.users {
    height: 140px;
}

.card {
    background: #fff;
    border-radius: 15px;
    margin: 1em;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: #213C70;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: none;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: .5rem 0rem;
    background-color: #213C70;
}

thead td {
    font-weight: 700;
    color: #fff;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

.recent-grids {
    margin-top: 3.5rem;
    display: grid;
}

.formulaire {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}

.form-multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}