footer {
    background-color: #2254B5 ;
}

.creative_commons_footer {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information_footer {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.information_footer h3, h5 {
    font-family: Quicksand-SemiBold;
}

.information_footer h5 {
    font-family: Quicksand-SemiBold;
}

.aircare_info_footer a, p {
    font-family: Quicksand-Medium;
}

.link_footer {
    color: white;
    text-decoration: none;
}

.link_footer:hover {
    text-decoration: underline;
}