@font-face {              /** Ajouter police depuis dossier **/
    font-family: qwigley;
    src: url('./Assets/Fonts/Qwigley-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/Assets/Fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('Assets/Fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('Assets/Fonts/Quicksand-Medium.ttf');
}

nav{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 15px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 255);
    display: flex;
    height: 9%;
    width: 100%;
}

.left {
    margin-left: 8%;
}

.left img.logo {
    width: 11%;
    height: 11%;
}

.left .menu {
    display:flex;
    justify-content: space-between;
}

.menu a {
    margin-left: 1%;
    color: #213C70;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #4C79D0;
}

.research_input {
    width: 23%;
    border: 1px solid #213C70;
    border-radius: 6px;
    font-size: 14px;
    font-family: Quicksand-SemiBold;
    padding: 2.5px;
    margin-top: 2%;
}

.right img.profil{
    width: 3%;
    height: 3%;
    vertical-align: middle;
    margin-right: 2%;
}

.connexion{
    display: flex;
    justify-content: flex-end;
}

.connected{
    display: flex;
    justify-content: flex-end;
}

.profil_circle{
    background-color: #213C70;
    padding: 11%;
    border-radius: 100%;
    margin-right: 8%;
}

.first_letters{
    color: white;
    text-decoration: none;
    text-align: center;
}

.name_profile{
    color: #213C70 ;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 4%;
    margin-right: 4%;
}

.name_profile:hover{
    text-decoration: underline;
}

.connexion a.connect_yourself{
    text-decoration: none;
    font-size: 15px;
    font-family: Quicksand-SemiBold;
    vertical-align: middle;
    color: black;
}

.connexion a:hover{
    text-decoration: underline;
}

.right{
    text-align: center;
    margin-right: 8%;
    margin-top: .5%;
}

.arrow_header {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2.5%;
    vertical-align: middle;
    height: 8px;
    width: 38px;
    margin-left: 10%;
    margin-top: 7%;
  }

.down_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
